*.1.dylib
*.a
*.log
*.o
*.so.1
/.vs
/afl-output
/autom4te.cache
/config.log
/config.status
/doc/pdfio.epub
/Makefile
/packages
/pdfio.pc
/pdfio.xcodeproj/xcshareddata
/pdfio-*.tar.gz*
/pdfio-*.zip*
/pdfiototext
/testpdfio
/testpdfio-*.pdf
/testttf
/x64
