*.1.dylib
*.a
*.dSYM
*.log
*.o
*.so.1
/.vs
/afl-output
/autom4te.cache
/config.log
/config.status
/configure~
/doc/pdfio.epub
/examples/code128
/examples/image2pdf
/examples/md2pdf
/examples/pdf2text
/examples/pdfioinfo
/examples/pdfiomerge
/Makefile
/packages
/pdfio.pc
/pdfio.xcodeproj/xcshareddata
/pdfio-*.tar.gz*
/pdfio-*.zip*
/testpdfio
/testpdfio-*.pdf
/testttf
/x64
